body
{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#bloc_page 
{
    width: 1400px;
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
}

.hebergements-marseille 
{
    color: #0065FC;
    text-decoration: none;
}

.activites
{
    color: black;
    text-decoration: none;
}

#inscription
{
    color: #0065FC;
}



/*section recherche*/

#section-recherche
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

h1
{
    display: flex;
    font-size: 21px;
    height: 0px;
}

#section-recherche p
{
    display: flex;
    font-size: 14.5px;
}
#grande-cartouche
{
   display: flex;
   height: 50px;
}

#localisation
{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color:#F2F2F2;
    border-radius: 30% 0% 0% 30%;
    font-size: 20px;
}


#recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 215px;
    height: 50px;
    border: none;
    border-top: 3px #F2F2F2 solid;
    border-bottom: 3px #F2F2F2 solid;
   
}

input::placeholder
{
    color: black;
    font-weight: bold;
    font-size: 17px;
}


button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 20px;
}

/*section filtres*/

#section-filtres
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 950px;
    margin-top: 20px;
}

#filtres
{
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 17px;
    font-weight: bold;
}
.cartouche
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 2px solid #D3D3D3;
    border-radius: 50px;
    padding: 3px 20px 3px 25px; 
}

.cercle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    margin-left: -30px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    
}

.texte
{
    font-weight: bold;
    margin-left: 10px;
}


/*information*/

.information
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 35%;    
}

#cercle-i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    border-radius: 50%;
    border:  2px solid #D3D3D3;
    margin-right: 10px;
    color: #0065FC;
}

#logements
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
}
/*hébergements*/

#hebergements
{
    display: flex;
    margin-left: 40px;
    
}

#hebergements p
{
    font-size: 15px;
    color: black;
    margin: 5px 0px;
}

.hebergements1
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 925px;
    height: 630px;
    border-radius: 50px;
    margin-right: 30px;
    padding: 0px;
}

.hebergements1 h2
{
margin-left: 40px;
width: 900px;
margin-bottom: 0px;
}


.hebergements1 figure
{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
    background-color: white;
    height: 200px;
    max-width: 240px;
    border-radius: 20px; 
}

.hebergements1 img
{
    border-radius: 20px 20px 0px 0px;
}
.hebergements1 a
{
    text-decoration: none;
}

 h3
{
    margin: 0px;
    color: black;
}

.hebergements1 figcaption
{
    padding: 3px;
}

.étoile
{
    color: #0065FC;
    font-size: 12px;
}

.gris
{
    color: #F2F2F2;
}

.hebergements1 span
{
    margin-left: 40px;
    font-size: 18.72px;
    font-weight: bold;
}

aside
    {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 430px;
        height: 620px;
        border-radius: 50px;
    }
    
aside a 
{
    text-decoration: none;
}

aside figure
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 130px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
}

aside img
{
    border-radius: 20px 0px 0px 20px;
}

aside h2
{
    margin-left: 40px;
    width: 900px;
    margin-bottom: 0px;
}

aside figcaption
{
    padding: 3px;
}

aside h3
{
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}
