body
{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#bloc_page 
{
    max-width: 1450px;
    margin: auto;
}

h2
{
    font-size: 1.4em;
    font-weight: 800;
}

/*header*/

header
{
    display: flex;
    margin-left: 62px;
    margin-top: 30px;
    width: 96%;
}

header img
{
    height: 46px;
}
nav
{
    display: flex;
    margin-left: auto;
    margin-right: -10px;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 70px;
}

header p
{
    margin-right: 70px;
    color: #0065FC;
    font-weight: 700;
}

.hebergements-marseille 
{
    color: #0065FC;
    text-decoration: none;
    font-weight: 500;
    border-top: transparent 2px solid;
    padding: 45px 17px 0px 17px;
}

.hebergements-marseille:hover
{
    border-top: #0065FC 2px solid;
}
.activites
{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/*section recherche*/

#section-recherche
{
    display: flex;
    flex-direction: column;
    margin-left: 62px;
    margin-bottom: 20px;
}

h1
{
    display: flex;
    font-size: 1.4em;
    font-weight:800;
    margin-top: 20px;
    margin-bottom: -10px;
}

#section-recherche p
{
    margin-bottom: 20px;
}

#grande-cartouche
{
   display: flex;
   height: 50px;
   margin-bottom: -5px;
}

#localisation
{
    display: flex;
    width: 57px;
    height: 57px;
    align-items: center;
    justify-content: center;
    background-color:#F2F2F2;
    border-radius: 30% 0% 0% 30%;
    font-size: 20px;
}


#recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    width: 240px;
    height: 57px;
    border: none;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    font-size: 1.2em;
    font-weight: bolder;
}

input::placeholder
{
    color: black;
}


button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 57px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 1.2em;
}

#icone-recherche
{
    display: none;
}

/*section filtres*/

#section-filtres
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px;
}

#filtres
{
    display: flex;
    height: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 13px 35px 0px -5px;
}

#cartouches
{
    display: flex;
}
.cartouche
{
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid #D3D3D3;
    border-radius: 50px;
    padding: 5px 15px 5px 28px;
    margin-right: 25px;
}

.cartouche:hover
{
    background-color: #DEEBFF;
}
.cercle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    margin-left: -30px;
    height: 52px;
    width: 52px;
    font-size: 20px;
}

#section-filtres p
{

    color: black;
    font-weight: 800;
    font-size: 16px; 
    margin-right: 4px;
    margin-left: 13px;
}

/*information*/

.information
{
    display: flex;
    align-items: center; 
    margin-left: 5px; 
}

#cercle-i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    font-size: 13px;
    border-radius: 50%;
    border:  1px solid #D3D3D3;
    margin-right: 15px;
    margin-bottom: 7px;
    color: #0065FC;
}

/*hébergements*/

#hebergements
{
    display: flex;
    margin-left: 57px;
    width: 97%;
}

#hebergements figure
{
    background-color: white;
    border:white solid 5px;
}

#hebergements p
{
    font-size: 0.9em;
    color: black;
    margin: 5px 0px;
}

#hebergements1
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 61%;
    border-radius: 25px;
    margin-right: 40px;
    padding: 15px;
}

#hebergements1 h2
{
    margin: 25px 0px 0px 25px;
}

#hebergements2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hebergements1 figure
{
    display: flex;
    flex-direction: column;
    height: 190px;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px #d7d7d7 ;
}

#hebergements1 img
{
    border-radius: 20px 20px 0px 0px;
}

.desktop-tablette
{
    display: flex;
}

.smartphone
{
    display: none;
}

#hebergements1 a
{
    text-decoration: none;
}

 h3
{
    margin: 0px;
    color: black;
    font-size: 1em;
    font-weight: 800;
}

#hebergements1 figcaption
{
    padding: 10px;
    line-height: 20px;
}


.etoile
{
    color: #0065FC;
    font-size: 12px;
}

.gris
{
    color: #F2F2F2;
}

#hebergements1 span
{
    margin: 50px 0px 20px 30px;
    font-size: 1.1em;
    font-weight: 800;
}

aside
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        width: 28%;
        border-radius: 25px;
        padding: 15px;
    }
   
#aside2
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

aside h2
{
    margin-left: 25px;
    margin-bottom: 5px;
}
#texte-icone
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}

#icone
{
    font-size: 23px;
    margin-top: 18px;
    margin-right: 15px;
}

aside a 
{
    text-decoration: none;
}

aside figure
{
    display: flex;
    height: 138px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #d7d7d7 ;
    margin: auto;
    margin-top: 30px;
}

aside img
{
    border-radius: 20px 0px 0px 20px;
}


aside figcaption
{
    margin-top: 10px;
    margin-left: 15px;
    padding: 0px;
}

aside h3
{
    display: flex;
    padding-right: 25px;
}

aside .etoile
{
    margin-top: 22%;
}

/*activités*/

#tourisme
{
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-left: 23px;
    margin-bottom: 50px;
}

#activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#tourisme h2
{
    margin: 40px 0px -30px 48px;
}

#tourisme figure
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #d7d7d7 ;
    margin:auto;
    margin-top: 50px;
}

#tourisme figcaption
{
    padding: 15px;
    border-radius: 30px;
    background-color: white;
}

#tourisme a 
{
    text-decoration: none;
}

#tourisme img
{
    border-radius: 20px 20px 0px 0px;
}

.width768px
{
    display: none;
}
.width375px
{
    display: none;
}

/*footer*/

footer
{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
}

.bloc-footer
{
    display: flex;
    flex-direction: column;
    width: 460px;
    line-height: 5px;
}


.bloc-footer li
{
    list-style-type: none;
    margin-bottom: 30px;
}

.bloc-footer a
{
    text-decoration: none;
    color: black;
}

.bloc-footer p
{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}




@media only screen and (max-width: 767px)
{
    * {
        margin: 0;
        padding: 0;
      }

    #bloc_page
    {
        width: auto;
    }

 /*header*/

    header
    {
        flex-wrap: wrap;
        margin-left: 0px;
        width: 100%;
    }

    nav
    {
        width: 100% ;
        margin-left: 0px;
    }

    
    nav li
    {
        margin-right: 0px;
    }

    .hebergements-marseille
    {
        border-top: transparent;
        border-bottom: #0065FC 3px solid;
        order: -2;
        padding: 0% 34% 12px 34%;
    }

    .hebergements-marseille:hover
    {
        border-bottom: #0065FC 3px solid;
    }

    .activites
    {
        padding: 0% 44% 12px 43%;
        border-bottom:  3px solid #F2F2F2;
        order: -1;
        margin-left: 75px;
    }

    header p
    {
        margin: 20px 12px 35px auto ;
        order: -3;
    }
    header img
    {
        order: -4;
        margin-left: 10px;
    }


    /* Section hébergements*/

    #hebergements
    {
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0px;
    }

    #hebergements1
    {
        background-color: white;
        width: 100%;
        margin-right: 0px;
        padding: 0px;
        margin-bottom: 50px;
    }

    #hebergements1 figure
    {
        margin-left: 0px;
        margin-top: 15px;
        width: 310px;
    }

    #hebergements1 h2
    {
        display: flex;
        margin: 20px 0px 10px 30px;
    }

    .desktop-tablette
    {
        display: none;
    }

    .smartphone
    {
        display: flex;
    }

    #hebergements1 span
    {
        margin: 25px 0px 0px 35px;
    }
    
    /*Les plus populaires*/


    aside
    {
        width: 100%;
        justify-content: space-around;
        border-radius: 0px;
        padding: 0px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    #aside2
    {
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    aside figure
    {
        width: 310px;
        margin-top: 10px;
    }

    h3
    {
        padding-right: 0px;
    }

    #texte-icone
    {
        justify-content: space-between;
    }


    #icone
    {
        margin-top: 20px;
        margin-right: 28px;
    }

    aside h2
    {
        margin-top: 20px;
        margin-left: 28px;
    }

    aside figcaption
    {
        margin-right: -5px;
        line-height: 20px;
    }
    

    
    /* Section filtres*/

    #section-filtres
    {
        padding: 0px;
    }

    #filtres
    {
        margin-bottom: 17px;
        width: 100%;
    }

    #cartouches
    {
       flex-wrap: wrap;
       margin-left: -5px;
    }

    
    .cartouche
    {
       margin-bottom: 15px;
       margin-right: 12px;
    }

    .information
    {
        margin-left: 0px;
    }

    #cercle-i
    {
        height: 20px;
        width: 20px;
        font-size: 10px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 16px;
    }

    /*section-recherche*/

    #section-recherche
    {
        margin-left: 20px;
    }

    h1
    {
        margin-top: 40px;
        margin-right: 20px;
    }

    #section-recherche p
    {
        margin-top: 20px;
    }    
    button
    {
        display: none;
    }

    #icone-recherche
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        height: 57px;
        background-color: #0065FC;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 1.2em;
        margin-left: -15px;
    }

    /*activités*/

    #tourisme
    {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    #activites
    {
        display: flex;
        justify-content: space-around;
    }

    #tourisme h2
    {
        margin: 0px 0px 0px 35px;
    }

    #tourisme figure
    {
        margin: 30px 0px 0px 0px;
        min-width: 310px;
    }

    #tourisme img
    {
        height: 134px;
        width: 310px;
    }

    #tourisme figcaption
    {
        padding: 15px;
        border-radius: 30px;
    }

    .width375px
    {
        display: flex;
    }

    .width768px
    {
        display: none;
    }

    .desktop
    {
        display: none;
    }

    /*footer*/

    footer
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0px;
    }

    .bloc-footer
    {
        width: 310px;
    }

    .bloc-footer li
    {
        list-style-type: none;
        margin-bottom: 22px;
        margin-left: 30px;
    }

    .bloc-footer a
    {
        text-decoration: none;
        color: black;
    }

    .bloc-footer p
    {
        margin:30px 0px 35px 30px ;
    }
}


@media only screen and (min-width:768px) and (max-width:1024px)
{
    /*header*/

    header
    {
        width: 90%;
    }

    /*section-recherche*/

    #section-recherche
    {
        margin-left: 0px;
        align-items: center;
    }

    #grande-cartouche
    {
        margin: 0px;
    }

    #section-filtres
    {
        justify-content: center;
    }

    #cartouches
    {
        flex-wrap: wrap;
    }
        
    .cartouche
    {
        margin-bottom: 15px;
        justify-content: center;
    }

    .information
    {
        margin-left: 0px;
    }

    #filtres
    {
        margin-bottom: 15px;
        margin-left: 1%;
    }

    /*Section hébergements*/

    #hebergements
    {
        width: 100%;
        margin-left: 0px;
        flex-direction: column-reverse;
    }

    #hebergements1
    {
        width: 100%;
        padding: 0px;
    }

    #hebergements2
    {
        justify-content: center;
    }

    #hebergements1 figure
    {
        margin: 15px;
    }


    #hebergements1 span
    {
        margin: 30px 0px 20px 50px;
    }

    aside
    {
        width: 100%;
        margin-bottom: 40px;
        padding: 0px;
        padding-bottom: 30px;
    }

    #texte-icone
    {
        justify-content: center;
    }

    aside h2
    {
        margin-right: 15%;
    }
    #aside2
    {
        justify-content: center;
        margin-left: 0px;
    }

    aside figure
    {
        margin-right: 35px;
    }
    /*tourisme*/

    #tourisme
    {
        width: 100%;
        margin-left: 0px;
    }

    .desktop
    {
        display: none;
    }

    .width768px
    {
        display: flex;
        width: 750px;
    }
    .tablette
    {
        display: flex;
        width: 740px;
    }

    .tablette figure
    {
        margin: auto;
        justify-content: space-between;
    }

    .tablette img
    {
        height: 135px;
    }


    /*Footer*/

    .bloc-footer
    {
        width: 100%;
        line-height: 13px;
    }

    .bloc-footer p
    {
        margin-left: 40px;
    }
}