body
{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#bloc_page 
{
    max-width: 1500px;
    margin: auto;
}

h2
{
    font-size: 1.4em;
    font-weight: 800;
}

/*header*/

header
{
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    width: 93%;
}

header img
{
    height: 46px;
}
nav
{
    display: flex;
    margin-left: auto;
    margin-right: -10px;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 70px;
}

header p
{
    padding-right: 70px;
}

.hebergements-marseille 
{
    color: #0065FC;
    text-decoration: none;
    font-weight: 600;
    border-top: transparent 2px solid;
    padding: 50px 17px 0px 17px;
}

.hebergements-marseille:hover
{
    border-top: #0065FC 2px solid;
}
.activites
{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#inscription
{
    color: #0065FC;
    font-weight: 800;
}



/*section recherche*/

#section-recherche
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 20px;
}

h1
{
    display: flex;
    font-size: 1.4em;
    font-weight:800;
    margin-top: 20px;
    margin-bottom: -10px;
}

#section-recherche p
{
    display: flex;
    font-size: 1em;
    margin-bottom: 20px;
}
#grande-cartouche
{
   display: flex;
   height: 50px;
   margin-bottom: -5px;
}

#localisation
{
    display: flex;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    background-color:#F2F2F2;
    border-radius: 30% 0% 0% 30%;
    font-size: 20px;
}


#recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    width: 240px;
    height: 52px;
    border: none;
    border-top: 3px #F2F2F2 solid;
    border-bottom: 3px #F2F2F2 solid;
    font-size: 1.2em;
    font-weight: bolder;
}

input::placeholder
{
    color: black;
}


button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 52px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 1.2em;
}

#icone-recherche
{
    display: none;
}

/*section filtres*/

#section-filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
}

#filtres
{
    display: flex;
    height: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 40px;
    margin-left: -10px;
}

#cartouches
{
    display: flex;
}
.cartouche
{
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid #D3D3D3;
    border-radius: 50px;
    padding: 5px 15px 5px 28px;
    margin-right: 25px;
}

.cartouche:hover
{
    background-color: #DEEBFF;
}
.cercle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    margin-left: -30px;
    height: 52px;
    width: 52px;
    font-size: 20px;
}

#section-filtres p
{

    color: black;
    font-weight: 800;
    font-size: 1em; 
    padding: 3px;
    margin-left: 10px;
}

/*information*/

.information
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 35%;    
}

#cercle-i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    border-radius: 50%;
    border:  2px solid #D3D3D3;
    margin-right: 10px;
    color: #0065FC;
}

/*hébergements*/

#hebergements
{
    display: flex;
    margin: 0px 35px;
}

#hebergements p
{
    font-size: 0.9em;
    color: black;
    margin: 5px 0px;
}

.hebergements1
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 61%;
    height: 630px;
    border-radius: 25px;
    margin-right: 40px;
    padding: 15px;
}

.hebergements1 h2
{
    margin: 25px 0px 0px 25px;
}

.hebergements2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements1 figure
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white solid 5px;
    margin: auto;
    margin-top: 25px;
    height: 200px;
    min-width: 250px;
    border-radius: 20px; 
    box-shadow: 0px 4px 1px #F2F3F4;
}

.hebergements1 img
{
    border-radius: 20px 20px 0px 0px;
}
.hebergements1 a
{
    text-decoration: none;
}

 h3
{
    margin: 0px;
    color: black;
    font-size: 0.9em;
    font-weight: 800;
}

.hebergements1 figcaption
{
    padding: 3px;
}

.étoile
{
    color: #0065FC;
    font-size: 12px;
}

.gris
{
    color: #F2F2F2;
}

.hebergements1 span
{
    margin: 50px 0px 0px 30px;
    font-size: 1em;
    font-weight: 800;
}

aside
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        width: 27%;
        height: 630px;
        border-radius: 25px;
        padding: 15px;
    }
   
aside h2
{
    margin-left: 25px;
    margin-bottom: 5px;
}
#texte-icone
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}

#icone
{
    font-size: 23px;
    margin-top: 18px;
    margin-right: 20px;
}


aside a 
{
    text-decoration: none;
}

aside figure
{
    display: flex;
    border: white solid 5px;
    height: 154px;
    width: 354px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 25px;
}

aside img
{
    border-radius: 20px 0px 0px 20px;
}


aside figcaption
{
    padding: 3px;
    margin-left: 10px;
}

aside h3
{
    display: flex;
    padding-right: 35px;
}

aside .étoile
{
    margin-top: 20%;
}

/*activités*/

#tourisme
{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 0px;
    margin-bottom: 50px;
}

#activites
{
    display: flex;
    justify-content: space-evenly;
}

#tourisme h2
{
    margin: 40px 0px -30px 45px;
}

#tourisme figure
{
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 1px #F2F3F4 ;
    margin:auto;
    margin-top: 50px;
}

#tourisme figcaption
{
    padding: 15px;
    border-radius: 30px;
    background-color: white;
}

#tourisme a 
{
    text-decoration: none;
}

#tourisme img
{
    border-radius: 20px 20px 0px 0px;
}

/*footer*/

footer
{
    display: flex;
    background-color: #F2F2F2;
    width: 97%;
}

.bloc-footer
{
    display: flex;
    flex-direction: column;
    width: 460px;
    line-height: 5px;
}



.bloc-footer li
{
    list-style-type: none;
    margin-bottom: 30px;
}

.bloc-footer a
{
    text-decoration: none;
    color: black;
}

.bloc-footer p
{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}


@media only screen and (max-width: 768px)
{
    #bloc_page
    {
        width: auto;
    }


    /*hebergements*/

    #hebergements
    {
        flex-direction: column-reverse;
        width: 100%;
    }

    #hebergements p 
    {
        font-size: 11px;
    }

    .hebergements1
    {
        flex-wrap: wrap;
        background-color: white;
    }

    .hebergements1 h2
    {
        display: flex;
        font-size: 1em;
        margin: 30px -40px 0px 15px;
    }

    .hebergements2
    {
        margin: 0px;
        padding: 0px;
    }
    aside
    {
        padding: 10px;
        margin-left: -10px;
        border-radius: 0px;
    }

    aside figure
    {
        margin: 10px 0px;
    }

    h3
    {
        font-size: 12px;
    }

    aside .étoile
    {
        margin-top: 28%;
    }

    #icone
    {
        margin-top: 20px;
        padding-right: 0px;
        font-size: 20px;
    }

    aside h2
    {
        margin-top: 20px;
        padding-left: 5px;
        font-size: 17px;
    }

    .hebergements1 span
    {
        margin: 25px 0px 40px 10px;
    }

    
    /*header*/

    header
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .hebergements-marseille
    {
        border-top: transparent;
        border-bottom: #0065FC 3px solid;
        order: -2;
        margin-left: -48px;
        padding: 0px 20px 10px 20px;
    }

    .hebergements-marseille:hover
    {
        border-bottom: #0065FC 3px solid;
    }

    .activites
    {
        padding: 0px 30px 10px 30px;
        border-bottom:  3px solid #F2F2F2;
        order: -1;
        margin-left: -67%;
    }

    #inscription
    {
        margin-left: auto;
        order: -3;
        font-size: 0.7em;
        margin-right: 7%;
    }

    header img
    {

        order: -4;
    }

    nav
    {
        width: 320px;
        font-size: 0.7em;
    }

    /* Section filtres*/
    #filtres
    {
        margin-bottom: 15px;
        width: 100%;
    }

    #cartouches
    {
        margin-left: -18px;
    }
    #section-filtres
    {
        margin-left: -37px;
    }
    #section-filtres p
    {
        font-size: 0.8em;
        padding: 5px;
    }
    .cartouche
    {
        height: 25px;
        margin: 0px 2px 10px 0px;
        padding: 2px 0px 3px 20px ;
    }

    .cercle
    {
        height: 35px;
        width: 35px;
        font-size: 15px;
    }

    /*section-recherche*/

    #rechercher
    {
        display: none;
    }

    #grande-cartouche
    {
        margin-left: -15%;
    }
    #recherche
    {
        display: flex ;
    }
   
}